<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.italkyou.gui"
    android:versionCode="1"
    android:versionName="2.7.4">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <!-- PERMISOS -->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />

    <!-- SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/> -->
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/> -->


    <!-- SIP CONFIGURATIONS -->
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />


    <!-- _ client _ -->

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- _ chat _ -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.italkyou.gui.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.italkyou.gui.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- FEATURE -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!--<android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.sip.voip" -->
    <!-- android:required="true" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.wifi" -->
    <!-- android:required="true" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.microphone" -->
    <!-- android:required="true" /> -->
    <application
        android:name="com.italkyou.beans.AppiTalkYou"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:icon">

        <!-- ACTIVITIES -->
        <activity
            android:name=".inicio.Presentacion"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inicio.InicioSesion"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".inicio.RegistroActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".inicio.ValidarPin"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.PerfilUsuarioActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".contactos.ContactoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contactos.ContactoItalkYouActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".llamada.CallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".llamada.IncomingCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.SaldoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.RedireccionarAnexoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VistaPrincipalActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".llamada.HistorialLlamadasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.AgendarSMSActivity"
            android:label="@string/title_activity_agendar_sms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatMensajeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.VisualizarImagenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle"></activity>
        <activity
            android:name=".Testing.TestingActivity"
            android:label="@string/title_activity_testing" />
        <activity
            android:name=".Testing.ReportActivity"
            android:label="@string/title_activity_report" />

        <!-- _ Paypal Activities _ -->
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name=".llamada.DialActivity"
            android:label="@string/title_activity_dial"
            android:parentActivityName=".BaseInicioActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.italkyou.gui.BaseInicioActivity" />
        </activity>
        <activity
            android:name=".chat.ArchiveActivity"
            android:label="@string/title_activity_archive" />

        <!-- SERVICIOS -->


        <!-- _ Paypal _ -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <!-- _ Parse _ -->
        <service android:name="com.parse.PushService" />
        <service
            android:name="com.italkyou.services.ItalkYouService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"/>

        <!-- RECEIVERS -->


        <!-- Custom -->
        <receiver
            android:name="com.italkyou.receivers.CustomPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>


        <!-- needed to not warn in push flavour -->
        <!--suppress AndroidDomInspection -->
        <receiver
            android:name="com.italkyou.receivers.ItalkYouWakefulReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="com.italkyou.gui" />
            </intent-filter>
        </receiver>

        <!-- _ GSM-Parse receiver _ -->
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.italkyou.gui" />
            </intent-filter>
        </receiver>

         <!--_ Notificaciones reciever _ -->
        <receiver android:name="com.italkyou.receivers.NotificadorEventos">
            <intent-filter>
                <action android:name="com.iTalkYou.UPDATE_STATUS" />
                <action android:name="com.iTalkYou.INCOMING_CALL" />
            </intent-filter>
        </receiver>

        <!--Conectivity-->

        <!--<receiver android:name="com.italkyou.servicio.NetworkStateReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; _ IniciarAppItk reciever _ &ndash;&gt;-->
        <!--<receiver-->
        <!--android:name="com.italkyou.controladores.IniciarAppItk"-->
        <!--android:enabled="true"-->
        <!--android:exported="false"-->
        <!--android:label="Inicio Itk-Reinicio">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- SMS Receiver -->
        <receiver android:name="com.italkyou.receivers.VerifySMSReciver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".llamada.HowToCallActivity"
            android:label="@string/title_activity_how_to_call"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
